#wrapper {
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: 0%;
  overflow: hidden;
  background: radial-gradient(
      circle at bottom center,
      #8f0000,
      #0a0000 40%,
      #000000 100%
    ),
    #000000;
}

#grid {
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: 0%;
  overflow: hidden;
  background-image: linear-gradient(
      rgba(41, 41, 41, 0.2) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(41, 41, 41, 0.2) 0.1em, transparent 0.1em);
  background-size: 2em 2em;
}

@keyframes breath {
  0% {
    scale: 100%;
  }
  50% {
    scale: 250%;
  }
  100% {
    scale: 100%;
  }
}

#mover {
  position: absolute;
  visibility: hidden;
  width: 75px;
  height: 75px;
  filter: blur(25px);
  background: radial-gradient(circle, #720000, rgba(0, 0, 0, 0) 75%);
  animation: breath 5s infinite;
}

* {
  pointer-events: none;
  cursor: initial;
}

h1 {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
