#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0%;
  overflow: hidden;
  background: radial-gradient(
      circle at top right,
      #be0000,
      #0a0000 20%,
      #000000 80%
    ),
    #000000;
}

#mover {
  position: absolute;
  width: 75px;
  height: 75px;
  filter: blur(25px);
  background: radial-gradient(circle, #a10000, rgba(0, 0, 0, 0) 75%);
}

* {
  pointer-events: none;
  cursor: initial;
}

h1 {
  padding: 0;
  margin: 0;
}

#content {
  backdrop-filter: blur(5px);
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  text-justify: newspaper;
  padding: 5px;
  color: white;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  overflow: hidden;
}
